<section id="contenidoCobro">
    <div class="contentCobro">
        <table>
            <tbody>
                <tr>
                    <td>
                        <h3>
                            Subtotal:
                        </h3>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>
                            Metodo de Pago:
                        </h3>
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>
                            Propina:
                        </h3>
                    </td>
                    <td>
                        <div class="mb-3">
                            <select class="form-select form-select-lg" name="" id="">
                                <option selected>Selecciona uno</option>
                                <option value="">10%</option>
                                <option value="">15%</option>
                                <option value="">20%</option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>
                            Total de Orden:
                        </h3>
                    </td>
                    <td>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>