*{
    font-family: "Lato", sans-serif;
    font-size: 18px;
}
h1{
    font-size: 2rem;
}
h2{
    text-align: center;
    font-size: 1.5rem;
}

h3{
    text-align: center;
}

.selector{
    display: block;
    position: relative;
    width: 10pc;
}

.centar{
    display: flex;
    padding: 2pc;
}
.centrar-child{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    justify-self: center;
}
.centrar-child table tbody{
    width: 100%;
}

.content{
    margin: 2pc;
    background-color: #fff;
    padding: 2pc;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    height: auto;
    padding-bottom: 10pc;
}

.contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 3pc;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f9f8ff;
    width:auto;
    height: auto;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 4px 4px #d3d3d35e;
    border-radius: 15px;
    font-family: sans-serif;
    margin-bottom: 5pc;
}

.titulo {
    font-size: 24px;
    padding: 10px 10px 0 10px;
}

.cuerpo {
    padding: 10px;
    flex: 1 1 100%;
}
.cuerpo img{
    width: 18.5vw;
    height: auto;
}

.pie {
    background: #303241;
    border-radius: 0 0 15px 15px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.pie a {
    text-decoration: none;
    color: white;
}

.pie a:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    content: ""
}

.centrar {
    display: block;
    justify-content: center;
}

.centrar-child {
    align-self: center;
}
.centrar h2{
    text-align: left;
}

.button-29 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #494c64 0, #303241 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.button-29:focus {
    box-shadow: #303241 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #494c64 0 -3px 0 inset;
}

.button-29:hover {
    background-color: #494c64;
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #494c64 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-29:active {
    box-shadow: #303241 0 3px 7px inset;
    transform: translateY(2px);
}

.contentCobro{
    position: fixed;
    width: auto;
    height: auto;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 2rem;
    text-decoration: none;
}
.contentCobro h3{
        text-align: left;
}
select{
    background-color: #303241;
    border: 0px;
    height: auto;
    color: #fff;
    outline: none;
    border-radius: 5px;
    font-size:1.3rem;
    text-align: center;
    font-weight: bolder;
    padding: 0.5pc;
    cursor: pointer;
}
select:hover{
    background-color: #494c64;
}
select option{
    background-color: #494c64;
    border: 0px;
    outline: none;
    padding: 1pc;
}

.cantidad{
    width: 3pc;
    position:relative;
    margin-left: 8pc;
    cursor: text;
}
.contenidoCobro{
    display: flex;
}
.contenidoCobroChild{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 90vh;
    
}
.contenidoCobroChild h1{
    font-size: 1.5rem;
    font-weight: bolder;
    color: #fff;
    text-align: center;
}
.contenidoCobroChild h2{
    font-size: 1.2rem;
    margin-left: 2pc;
}
.backgroundBlack{
    background: rgba(0, 0, 0, 0.535);
    display: flex;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.centrar-btn{
    display: grid;
    justify-content: center;
    align-items: center;
}

.formCobro{
    margin: 1pc;
    background-color: #fff;
    padding: 2pc;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    height: 85vh;
}
.formCobro img{
    width: 5pc;
    height: auto;
}